<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://code.alibabatech.com/schema/dubbo
                           http://code.alibabatech.com/schema/dubbo/dubbo.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/ftl/" />
        <property name="defaultEncoding" value="UTF-8" />
    </bean>

    <!--//扫描包-->
    <context:component-scan base-package="com.pyg.page.service.impl"></context:component-scan>

    <!--&lt;!&ndash;这里是引用dubbo服务指定service需要的协议就是dubbo，还要指定dubbo的端口号&ndash;&gt;-->
    <!--<dubbo:protocol name="dubbo" port="20885"></dubbo:protocol>-->
    <!--&lt;!&ndash;这里需要写的是注册上传的是哪一个服务&ndash;&gt;-->
    <!--<dubbo:application name="pyg_page_service"/>-->
    <!--&lt;!&ndash;这里需要写的是注册到zookeeper中，即zookeeper在虚拟机中的地址和端口号&ndash;&gt;-->
    <!--<dubbo:registry address="zookeeper://192.168.25.128:2181"/>-->
    <!--&lt;!&ndash;这里是扫描包即扫描注解&ndash;&gt;-->
    <!--<dubbo:annotation package="com.pyg.page.service.impl"/>-->

</beans>